.dorpdown {
    display: inline-block;
}

.dorpdown button {
    background-color: hsl(208, 78%, 77%);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.dorpdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;

}

.dorpdown .content {
    background-color: hsl(210, 3%, 70%);
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.763);
    display: none;

}

.dorpdown:hover .content {
    display: block;
}

.dorpdown:hover button {
    background-color: hsl(208, 66%, 53%);
}

.dorpdown a:hover {
    background-color: hsl(208, 66%, 53%);
    font-size: 1.1em;

}