body{
    background-image: url(backpacker-7628303.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    color: whitesmoke;
}
