
body{
    margin: 0;
}
#box1{
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    background-color:hsl(120, 71%, 51%) ;

    /* transform: translateX(200px);
    transform: translateY(100px); */
    /* transform: translate(-100px,-100px); */
    /* transform: rotate(20deg); */
    /* transform: rotateY(120deg); */
    /* transform: rotateX(120deg); */
    /* transform: rotateZ(90deg); */

    /* transform: scaleX(1.5); */
    /* transform: scaleY(1.5); */
    /* transform: scale(1.5,0.5); */
    /* transform: skewX(45deg); */
    /* transform: skewY(45deg); */
    /* transform: skew(45deg,5deg); */
    /* transform: translateX(100%) rotateZ(90deg) scale(0.5); */
    /* transform: perspective(100px) rotateY(45deg); */
}